* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    background-image: url('../img/pattern.png');
    background-color: rgb(75, 75, 219);
    max-width: 100%;
    height: auto;
    
}

#the-booleaner{
    width: 15%;
}

h1 {
    font-size: 70px;
}

div {
    color: gray;
}

.writer {
    font-size: 20px;
    font-weight: bold;
}

#booleaner {
    color: rgb(39, 163, 163);
}