

body {
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    background-image: url('../img/pattern.png');
    background-color: rgb(75, 75, 219);
}

#the-booleaner{
    width: 15%;
}

h1 {
    font-size: 70px;
}

.section-writer {
    color: gray;
}

.writer {
    font-size: 30px;
    font-weight: bold;
}

#booleaner {
    color: rgb(39, 163, 163);
}

.caption {
    font-size: 12px;
}

p {
    padding-top: 20px;
    padding-bottom: 20px;
    
}

#important {
    background-color: yellow;
}

.tr-header {
    color: white;
    background-color: blue;
}

.tr-cyan {
    background-color: cyan;
}